<a href="https://colab.research.google.com/github/AnabelBerumen/100DaysOfCode/blob/main/Data%20Cleaning/Pandas%20Cookbook/5_Algorithms_and_How_to_Apply_Them.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## pd.Series

In [3]:
import pandas as pd

In [5]:
ser = pd.Series(range(3), dtype=pd.Int64Dtype())
ser

0    0
1    1
2    2
dtype: Int64